* {
    font-family: 'Roboto';
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red;
    color: white;
    height: 80px;
    margin-bottom: 40px;
    font-size: xx-large;
    padding: 10px;
}

#display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#home {
    display: flex;
}

#filter div {
    background-color: rgb(213, 210, 210);
    margin-bottom: 3px;
}

.filter-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}

.card {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: red;
    color: red;
    border-style: solid;
    max-width: 500px;
    margin-right: 10px;
    padding: 2px;
}

button {
    border-style: solid;
    border-color: red;
    background-color: white;
    color: red;
    height: 40px;
}

button:hover {
    border-style: solid;
    border-color: red;
    background-color: red;
    color: white;
    height: 40px;
    cursor: pointer;
}