#navbar {
    display: flex;
    align-items: center;
    color: white;
    background-color: red;
    height: 80px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: red;
    color: red;
    border-style: solid;
    max-width: 500px;
}